.landingpage {
    border: 2px solid black;
    background-color: black;
    color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 0;
}

h2 {
    font-size: 2.4rem;
}
