#extras {
    border: 2px solid black;
    background-color: #0078B3;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: none;
}
#poutine {
    border: 2px solid black;
    background-color: #0078B3;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
}
#extrasbg {
    background-image: url(../../utils/extras.jpg);
    background-attachment: fixed;
    z-index: 6;
}
#poutinebg {
    background-image: url(../../utils/poutine.jpeg);
    background-attachment: fixed;
    z-index: 7;
}