#pizza {
    border: 2px solid black;
    background-color: #0078B3;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#pizzabg {
    background-image: url(../../utils/spread.jpg);
    background-attachment: fixed;
    z-index: 2;
}   