#pizza {
  border: 2px solid black;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
}
.item-container {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  column-gap: 14px;
}

.item {
  height: fit-content;
}
@media only screen and (max-width: 600px) {
    .item-container {
        grid-template-columns: 100%;
    }
}
.item-image {
    width: 50%;
    height: 50%;
}