.outer {
  background-color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 45px;
}
.pizza,
.donair,
.burger,
.pasta,
.salad,
.extra,
.munch {
  border-bottom: 1px solid red;
  font-size: 30px;
}
.pizza {
  border-top: 1px dashed black;
}
.menuo {
  border-bottom: none;
  font-size: 50px;
  background-color: black;
  color: white;
}
.menuc {
  background-color: black;
  color: white;
  font-size: 50px;
}
.Collapsible__trigger:hover {
  cursor: pointer;
}
.Collapsible__trigger {
  display: block;
}
.Collapsible__trigger:after {
  color: white;
  content: "\2b9f ";
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg);
}
