.header {
    position: relative;
    text-align: center;
    width: 85%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-image:  url("../../utils/headerpizza.jpg");
    background-size: cover;
    background-position-y: center;
}

h1 {
    font-weight: bold;
    position: relative;
    top: 50px;
    font-size: 5em;
    color: #dda900;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 6.5px 7.5px 0 #000;
}
.header p {
    position: relative;
    top: 50px;
    color:#dda900;
    font-size: 35px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media only screen and (max-width:950px) {
    h1 {
      font-size: 2.7em;
    }
    .header p {
        font-size: 25px;
    }
  }